<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
{% load humanize %}
<div align="center">
{% if sentence_list %}
<table>
    <tr>
        <th bgcolor="black" style="color:white;" align="left">English Sentence</th>
    </tr>
    {% for sentence in sentence_list %}
    <tr>
        <td>{% autoescape off %}
            {{ sentence.sentence }}
            {# {{ sentence.category}} #}
            {# }{{ sentence.number}} #}
            {% if sentence.level is 'e' %} (초)
            {% elif sentence.level is 'm' %} (중)
            {% else %} (고)
            {% endif %}
            {# {{ sentence.level}} #}
        {% endautoescape %}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
    <div>No English</div>
{% endif %}
</div>
