    <head>
        <title>오늘의 영어</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <style>
        a {
            color: black;
            text-decoration: none;
        }
        a:hover {
            text-decoration: none;
        }
        td,th {
            font-size: 1.3em;
            padding-left: 30;
            padding-right: 30;
        }
        </style>

    </head>

    <div align="center">

    {% if word_list %}
    <table>
        <tr>
            <td colspan="2" bgcolor="#873600" style="color:white;padding-top:30;padding-bottom:15 ;" height="50"><b>Word of English</b></td>
        </tr>

        {# {% with leftright = 1 %}#}
        {% for word in word_list %}
            {% if forloop.counter0|divisibleby:"2" %}
        <tr>
            <tr height='20'></tr>
            <td style="color:#E59866;">
                <a href="http://translate.naver.com/#/en/ko/{{ word.word|striptags }}" style="color:#6E2C00;">
                {% autoescape off %}{{ word.word }}{% endautoescape %}
                </a>
                <span style="font-size:0.7em;text-align:right;">
                {% if word.level == 'e' %} (초)
                {% elif word.level == 'm' %} (중)
                {% else %} (고)
                {% endif %}
                </span>
            </td>
            {% else %}
            <td style="color:#E59866;">
                <a href="http://translate.naver.com/#/en/ko/{{ word.word|striptags }}" style="color:#6E2C00;">
                {% autoescape off %}{{ word.word }}{% endautoescape %}
                </a>
                <span style="font-size:0.7em;text-align:right;">
                {% if word.level == 'e' %} (초)
                {% elif word.level == 'm' %} (중)
                {% else %} (고)
                {% endif %}
                </span>
            </td>
        </tr>
        <tr height='20'></tr>
        <tr>
            <td colspan='7' bgcolor="#F6DDCC" height="2"></td>
        </tr>
            {% endif %}
        {% endfor %}
    {# </table>#}
    {% else %}
        <div>No Word</div>
    {% endif %}

    {% if sentence_list %}
    {# <table>#}
        <tr>
            <td colspan="2" bgcolor="#283747" style="color:white;padding-top:30;padding-bottom:15 ;" height="50"><b>Sentence of English</b></td>
        </tr>
        {% for sentence in sentence_list %}
        <tr>
            <tr colspan="2" height='20'></tr>
            <td colspan="2" style="color:#85929E;">
                {# {{ sentence.pk }}#}
                <a href="http://translate.naver.com/#/en/ko/{{ sentence.sentence|striptags }}" style="color:#1B2631;">
                {% autoescape off %}{{ sentence.sentence }}{% endautoescape %}
                </a>
                {# {{ sentence.category}}#}
                {# {{ sentence.number}} #}
                <span style="font-size:0.7em;text-align:right;">
                {% if sentence.level == 'e' %} (초)
                {% elif sentence.level == 'm' %} (중)
                {% else %} (고)
                {% endif %}
                </span>
                {# {{ sentence.level}} #}
            </td>
        </tr>
        <tr colspan="2" height='20'></tr>
        <tr>
            <td colspan="2" bgcolor="#D6DBDF" height="2"></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <div>No Sentence</div>
    {% endif %}
    </div>
