<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<style>
td {
    font-size:1.3em;
    padding-left:10;
    padding-right:10;
}
td.head,td.bottom {
    font-size:1.1em;
    padding-left:10;
    padding-right:10;
}
</style>

{% load humanize %}
<div align="center">
{% if latest_list %}
<table>
    <tr>
        <td colspan='7' bgcolor="#cccccc" height="2"></td>
    </tr>
    {% for lotto in latest_list %}
    <tr height='5'></tr>
    <tr>
        <td colspan='2' class="head">{{ lotto.nth }}회</td>
        <td colspan='5' class="head">- - - {{ lotto.date }}</td>
    </tr>
    <tr>
        <td width="14%" align="center"
            {% if lotto.no1 <= 10 %}
                style="color:#999900"
            {% elif lotto.no1 <= 20 %}
                style="color:blue"
            {% elif lotto.no1 <= 30 %}
                style="color:red"
            {% elif lotto.no1 <= 40 %}
                style="color:black"
            {% else %}
                style="color:green"
            {% endif %}
        >{{ lotto.no1 }}</td>
        <td width="14%" align="center"
            {% if lotto.no2 <= 10 %}
                style="color:#999900"
            {% elif lotto.no2 <= 20 %}
                style="color:blue"
            {% elif lotto.no2 <= 30 %}
                style="color:red"
            {% elif lotto.no2 <= 40 %}
                style="color:black"
            {% else %}
                style="color:green"
            {% endif %}
        >{{ lotto.no2 }}</td>
        <td width="14%" align="center"
            {% if lotto.no3 <= 10 %}
                style="color:#999900"
            {% elif lotto.no3 <= 20 %}
                style="color:blue"
            {% elif lotto.no3 <= 30 %}
                style="color:red"
            {% elif lotto.no3 <= 40 %}
                style="color:black"
            {% else %}
                style="color:green"
            {% endif %}
        >{{ lotto.no3 }}</td>
        <td width="14%" align="center"
            {% if lotto.no4 <= 10 %}
                style="color:#999900"
            {% elif lotto.no4 <= 20 %}
                style="color:blue"
            {% elif lotto.no4 <= 30 %}
                style="color:red"
            {% elif lotto.no4 <= 40 %}
                style="color:black"
            {% else %}
                style="color:green"
            {% endif %}
        >{{ lotto.no4 }}</td>
        <td width="14%" align="center"
            {% if lotto.no5 <= 10 %}
                style="color:#999900"
            {% elif lotto.no5 <= 20 %}
                style="color:blue"
            {% elif lotto.no5 <= 30 %}
                style="color:red"
            {% elif lotto.no5 <= 40 %}
                style="color:black"
            {% else %}
                style="color:green"
            {% endif %}
        >{{ lotto.no5 }}</td>
        <td width="14%" align="center"
            {% if lotto.no6 <= 10 %}
                style="color:#999900"
            {% elif lotto.no6 <= 20 %}
                style="color:blue"
            {% elif lotto.no6 <= 30 %}
                style="color:red"
            {% elif lotto.no6 <= 40 %}
                style="color:black"
            {% else %}
                style="color:green"
            {% endif %}
        >{{ lotto.no6 }}</td>
        <td width="16%" align="center"
            {% if lotto.nob <= 10 %}
                style="color:#999900"
            {% elif lotto.nob <= 20 %}
                style="color:blue"
            {% elif lotto.nob <= 30 %}
                style="color:red"
            {% elif lotto.nob <= 40 %}
                style="color:black"
            {% else %}
                style="color:green"
            {% endif %}
        >( {{ lotto.nob }} )</td>
    </tr>
    <tr>
        <td></td>
        <td colspan='2' align='right' class="bottom">1등 : </td>
        <td colspan='4' width="150" align="right" class="bottom">{{ lotto.winmoney|intcomma }} 원 ({{ lotto.winco }}명)</td>
    </tr>
    <tr height='5'></tr>
    <tr>
        <td colspan='7' bgcolor="#cccccc" height="2"></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<div>No Lotto</div>
{% endif %}
</div>
